<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wifilocation.demo.RSSIMapper">
    <resultMap id="rssid" type="com.wifilocation.demo.RSSID">
        <result column="pos_x" property="pos_x"></result>
        <result column="pos_y" property="pos_y"></result>
    </resultMap>

    <select id="findDynamic" resultMap="rssid">
        SELECT * FROM wifiinfo WHERE date BETWEEN #{from} AND #{to}
        <if test="pos_x != -1 or pos_y != -1">
            AND pos_x BETWEEN #{pos_x} AND #{pos_x}+1
            AND pos_y BETWEEN #{pos_y} AND #{pos_y}+1
        </if>
        <if test="building != null">
            AND building = #{building}
        </if>
        <if test="SSID != null">
            AND SSID = #{SSID}
        </if>
    </select>

    <delete id="deleteDynamic">
        DELETE FROM wifiinfo
        WHERE date BETWEEN #{from} AND #{to}
        <if test="building != null">
            AND building = #{building}
        </if>
        <if test="SSID != null">
            AND SSID = #{SSID}
        </if>
        <if test="uuid != null">
            AND uuid = #{uuid}
        </if>
    </delete>

<!--    <select id="findAll" resultType="com.wifilocation.demo.RSSID">-->
<!--        select-->
<!--            *-->
<!--        from-->
<!--            wifiinfo-->
<!--    </select>-->
<!--    <insert id="insert" parameterType="com.wifilocation.demo.RSSID">-->
<!--        INSERT wifiinfo (pos_x, pos_y, SSID, BSSID, frequency, level)-->
<!--        VALUE ('#{pos_x}', '#{pos_y}', '#{ssid}', '#{bssid}', '#{frequency}', '#{level}')-->
<!--    </insert>-->
</mapper>
