<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wifilocation.demo.RSSIController">
    <select id="findAll" resultType="com.wifilocation.demo.RSSID">
        select
            *
        from
            wifiinfo
    </select>
    <insert id="insert" parameterType="com.wifilocation.demo.RSSID">
        INSERT wifiinfo (pos_x, pos_y, SSID, BSSID, frequency, level)
        VALUE ('#{pos_x}', '#{pos_y}', '#{ssid}', '#{bssid}', '#{frequency}', '#{level}')
    </insert>
</mapper>
